{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <h1 style="text-align:left; color:darkblue">Sobre nosotros</h1>
    <h2 style="text-align:left; color:steelblue">Este grupo surgió en Enero de 2022 formando parte de la comisión 27610 del "Curso de Python" en Coderhouse</h2>

    <div class="container" style="text-align:center">
        <p>Luego de desarrollar varios desafíos menores, finalmente llegamos a la producción de ésta página como Proyecto Final del curso.</p>
        <h1>Integrantes:</h1>
        <h4>Ailin Perazzini, 28 años, Contadora.</h4>
        <img src="../../../media/Aili.jpeg" style="height: 300px; width: 300px">
        <h4>Agustin Avalos, 27 años, Ingeniero</h4>
        <img src="../../../media/Agus.jpeg" style="height: 300px; width: 300px">
        <h4>Alejandro Kinbaum, 32 años, Ingeniero</h4>
        <img src="../../../media/Ale.jpeg" style="height: 300px; width: 300px">
        
    </div>

{% endblock %}